.controls ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #FFFFFF;width:620px;height:360px;overflow-y:scroll;overflow-x:auto;}

.folderTreeCon .ztree{ position:absolute; z-index:9999; background:#fff; border:1px solid #ccc; padding:10px; display:none; width:260px;height:320px; overflow:auto;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.clearfix .form-search .folderTreeCon{margin-right:4px;}

.filterDeptTree{margin-left:25px; margin-right:22px; min-width:120px}
.filterDeptTree .treeMenuDiv {display: none; z-index:9999;/*position:absolute;*/ border: 1px #CCC solid; background-color: white;overflow: auto;}
.filterDeptTree .ztree{ position:absolute; z-index:9999; background:#fff; border:1px solid #ccc; padding:10px; min-width:108px; overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.folderTreeCon button,.filterDeptTree button{
	min-width:120px;
	border-radius: 3px;
}
.filterDeptTree button .selectTreeName{
	float:left;
}

.ztree li span.button.prevPage {background-position:-144px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.nextPage {background-position:-144px -64px; vertical-align:top; *vertical-align:middle}

/* 子节点进行缩进
.ztreeUl ul{padding:0px !important}
*/
