<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1" metadata-complete="true">
	
	<display-name>shareweb</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext-pat*.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextErrorTagFilePath</param-name>
		<param-value>
			/opt/tomcat_web/security/error_tag_cloudapp
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>pw.cdmi.common.web.HWContextLoaderListener</listener-class>
	</listener>
	<listener>
	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
    
    <filter>
        <filter-name>refererMatchFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>refererMatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>linkFilter</filter-name>
		<filter-class>pw.cdmi.box.disk.user.shiro.LinkAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>linkFilter</filter-name>
		<url-pattern>/p/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>linkFilter</filter-name>
		<url-pattern>/v/*</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>interfaceFilter</filter-name>
		<filter-class>pw.cdmi.box.disk.core.interceptor.InterfaceFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>interfaceFilter</filter-name>
		<url-pattern>/api/v1/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VerifyCode</servlet-name>
		<servlet-class>pw.cdmi.core.verifycode.VerifyCode</servlet-class>
		<init-param>
			<param-name>bVariableFont</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>bVariableFontSize</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>dictionary</param-name>
			<param-value>2345689ABCDEFGHLRTYabcdefht</param-value>
		</init-param>
		<init-param>
			<param-name>bIsRotate</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>iDistance</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>bIsSetBackground</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>bIsSetInterferon</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>iDistort</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>iCodeCount</param-name>
			<param-value>4</param-value>
		</init-param>
		<init-param>
			<param-name>iHeight</param-name>
			<param-value>25</param-value>
		</init-param>
        <load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyCode</servlet-name>
		<url-pattern>/verifycode</url-pattern>
	</servlet-mapping>
    
    <servlet>     
        <servlet-name>heartbeat</servlet-name>     
        <servlet-class>pw.cdmi.box.disk.cluster.manage.HeartbeatCheckServlet</servlet-class>  
    </servlet> 

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>heartbeat</servlet-name>
		<url-pattern>/checkRealServerHealth.28055dab3fc0a85271dddbeb0464bfdb</url-pattern>
	</servlet-mapping>
	
	<servlet>     
        <servlet-name>newHeartbeat</servlet-name>     
        <servlet-class>pw.cdmi.box.disk.cluster.manage.NewHeartbeatCheckServlet</servlet-class>  
    </servlet> 

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>newHeartbeat</servlet-name>
		<url-pattern>/newCheckRealServerHealth.28055dab3fc0a85271dddbeb0464bfdb</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
	<jsp-config>  
        <taglib>  
            <taglib-uri>  
               http://cse.huawei.com/custom-function-taglib   
            </taglib-uri>  
            <taglib-location>  
               /WEB-INF/tld/custom-function.tld
            </taglib-location>  
        </taglib>  
    </jsp-config>  

	<welcome-file-list>
		<welcome-file>folders</welcome-file>
	</welcome-file-list>
	
	<!-- config the default error information -->
	<error-page> 
		<error-code>401</error-code> 
		<location>/login/turnToError</location> 
	</error-page> 
	<error-page> 
		<error-code>404</error-code> 
		<location>/login/turnToError</location> 
	</error-page> 
	<error-page> 
		<error-code>500</error-code> 
		<location>/login/turnToError</location> 
	</error-page> 
	
	<security-constraint>  
   	<web-resource-collection>
   	<web-resource-name>cloudapp</web-resource-name>  
      <url-pattern>/*</url-pattern>  
      <http-method>OPTIONS</http-method>  
      <http-method>TRACE</http-method>  
   	</web-resource-collection>  
   	<auth-constraint>  
   	</auth-constraint>  
 	</security-constraint> 

	<!-- add IOS ipa and Android apk file mimetype -->
	<mime-mapping>
        <extension>ipa</extension>
        <mime-type>application/iphone</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>apk</extension>
        <mime-type>application/vnd.android.package-archive</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>plist</extension>
        <mime-type>application/x-plist</mime-type>
    </mime-mapping>
</web-app>