<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	
	<context:component-scan base-package="com.huawei.sharedrive.uam" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
				
				<property name="writeAcceptCharset" value="false" />
			</bean>
			
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="serializationInclusion" value="NON_NULL" />
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>


	
	<mvc:default-servlet-handler />

	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />
	
	<mvc:interceptors>
	<bean class="com.huawei.sharedrive.uam.user.web.UnauthorizeAccessInterceptor">
			<property name="excludeUrl">
				<set>
					<value>/[^/]+/</value>
					<value>/[^/]+/login</value>
					<value>/[^/]+/api/.*</value>
					<value>/[^/]+/account/initPwd</value>
					<value>/[^/]+/login/turnToError</value>
					<value>/[^/]+/logout.*</value>								
					<value>/[^/]+/syscommon/.*</value>
					<value>/[^/]+/static/.*</value>
					<value>/[^/]+/register/.*</value>
					<value>/[^/]+/sso/ssocmb</value>
					<value>/[^/]+/checkRealServerHealth.28055dab3fc0a85271dddbeb0464bfdb</value>
					<value>/[^/]+/newCheckRealServerHealth.28055dab3fc0a85271dddbeb0464bfdb</value>                   	
                	<value>/[^/]+/favicon.ico</value>         	
					<value>/[^/]+/.*/loadconfig</value>					
            	</set>  
			</property>
		</bean>
		<bean class="pw.cdmi.core.log.LogInterceptor">
			<property name="excludeHeaders">
				<set>  
                	<value>Cookie</value>
                	<value>cookie</value>
                	<value>authorization</value>  
            	</set>  
			</property>
			<property name="excludeUrl">
				<set>  
					<value>/</value>  
                	<value>/[^/]+/static/.*</value>  
                	<value>/static/.*</value>  
                	<value>/[^/]+/skins/.*</value>
                	<value>/skins/.*</value>    
                	<value>/favicon.ico</value>  
            	</set>    
			</property>
		</bean>
		<bean class="pw.cdmi.core.log.AfterAccessInterceptor">
			<property name="excludeUrl">
				<set>  
					<value>/</value>  
                	<value>/[^/]+/static/.*</value>  
                	<value>/static/.*</value>  
                	<value>/[^/]+/skins/.*</value>
                	<value>/skins/.*</value>    
                	<value>/favicon.ico</value>  
            	</set>  
			</property>
		</bean>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes   
        <property name="maxUploadSize" value="102400" />  -->
    </bean>

	<bean id="wxEventController" class="com.huawei.sharedrive.uam.weixin.web.WxEventController">
		<property name="corpId" value="wwc7342fa63c523b9a" />
		<property name="token" value="oOU4DJIE49vJj1" />
		<property name="encodingAesKey" value="Swe71JTWs4q1mz7YxtzvWwaRwChObCViOTW67Cbihri" />
		<property name="suiteId" value="tje32d93de35487681" />
	</bean>

	<bean id="wxAuthAPIController" class="com.huawei.sharedrive.uam.openapi.rest.WxAuthAPIController">
		<property name="templateId" value="tpl3f3220e53299307e" />
	</bean>
</beans>
