<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context classpath:org/springframework/context/config/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx classpath:org/springframework/transaction/config/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop classpath:org/springframework/aop/config/spring-aop-3.2.xsd"
	default-autowire="byName" default-lazy-init="true">

	<bean id="cacheClient" class="pw.cdmi.common.cache.CacheClientFactory"
		factory-method="getInstance" destroy-method="destroy">
		<constructor-arg value="${cache.default.pool.name}" />
		<constructor-arg value="${cache.default.server.ips}" />
		<constructor-arg value="${cache.default.server.port}" />
		<constructor-arg value="${cache.default.max.connections}" />
		<constructor-arg value="${cache.default.socket.timeout}" />
		<constructor-arg value="${cache.default.socket.connect.timeout}" />
		<constructor-arg value="${cache.default.timeout}" />
		<constructor-arg value="${cache.default.key.prefix}" />
		<constructor-arg value="${cache.default.binaryProtocal}" />
		<constructor-arg value="${cache.default.aliveCheck}" />
		<constructor-arg value="${cache.default.failback}" />
		<constructor-arg value="${cache.default.failover}" />
		<constructor-arg value="${cache.default.opTimeout}" />
	</bean>

</beans>